<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- 这个文件放在WEB-INF/remote-servlet.xml -->
<beans>
    <bean name="httpinvokertest" class="spring.httpinvoker.HttpInvokertestImpl"  />
    <bean name="/hit" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
       <property name="service" ref="httpinvokertest"/>
       <property name="serviceInterface" value="spring.httpinvoker.HttpInvokerTestI"/>
    </bean>
</beans>